._bottomNav{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 58px;
    background-color: white;

   div{
       cursor: pointer;
   }
}


@media only screen and (max-width: 900px) {
    ._bottomNav{
        display: flex;
        // flex-direction: row;
        // justify-content: space-around;
        // align-items: center;
    }
  }
  